*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saat-cont{
    /* background-color: red; */
    height: 400px;
    width: 90%;
    max-width: 400px;
    border-radius: 50%;
    border: 5px solid red; 
    position: relative;
    background-image: url(https://w7.pngwing.com/pngs/328/892/png-transparent-paper-clock-face-worksheet-printing-clock-angle-white-text.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.saat,
.dakika,
.saniye{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 40%;
    background-color: black;
    transform: rotate(-90deg);
    transform-origin: left;
}
